/*
------------------
Global
------------------
*/
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --sec-color: #777;
  --background-color: #ececec;
  --sec-padding: 100px;
  --norm-transition: 0.3s;
}
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*
------------------
Repititive
------------------
*/
/* Main heading */
.main-head {
  padding: 10px 20px;
  font-size: 30px;
  border: 1px solid black;
  text-transform: uppercase;
  font-weight: bold;
  width: fit-content;
  margin: 0 auto 80px;
  position: relative;
  z-index: 1;
  transition: 0.2s;
}
.main-head:hover {
  color: white;
  font-weight: 800;
  border-color: white;
  transition-delay: 0.5s;
}
.main-head:before,
.main-head:after {
  content: "";
  background-color: var(--main-color);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--norm-transition);
  z-index: -1;
}
.main-head::before {
  left: -25px;
}
.main-head::after {
  right: -25px;
}
.main-head:hover:before {
  animation: to-right 0.5s linear forwards;
}
.main-head:hover:after {
  animation: to-left 0.5s linear forwards;
}
/*
------------------
My Framework
------------------
*/
.grid-3-col {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}
/*
------------------
Animations
------------------
*/
@keyframes fly {
  0% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(25px);
  }
}
@keyframes to-right {
  50% {
    left: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    left: 0;
    width: 60%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes to-left {
  50% {
    right: 0;
    width: 12px;
    height: 12px;
  }
  100% {
    right: 0;
    width: 60%;
    height: 100%;
    border-radius: 0;
  }
}
@keyframes up-down {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
@keyframes moving-arrow {
  to {
    transform: translate(calc(-50% + 6px), -50%);
  }
}
@keyframes flashing {
  0%,
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}

/*
------------------
Header Section
------------------
*/
header {
  box-shadow: 0 0 10px #ddd;
  position: relative;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
}
header img {
  width: 80px;
}

/* Menu icon  */
header .menu {
  position: relative;
  width: 26px;
  height: 17px;
  overflow: hidden;
  display: none;
  z-index: 999;
}
@media (max-width: 767px) {
  header .menu {
    display: block;
  }
}
header .menu .outer {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 3px;
  transition: 0.5s;
  margin: 0 2px;
}
header nav:hover .menu .outer.mid {
  left: 100%;
}
header nav:hover .menu .outer:first-child {
  transform: translateY(7px) rotate(-45deg);
}
header nav:hover .menu .outer:last-child {
  transform: translateY(-7px) rotate(45deg);
}
header .menu .outer:nth-child(2) {
  top: 7px;
}
header .menu .outer:last-child {
  top: 14px;
}
header .menu .inner {
  display: block;
  background-color: #262626;
  width: 3px;
  height: 100%;
}
header nav:hover .menu .inner {
  background-color: var(--main-color);
}
header .menu .inner.one {
  border-radius: 50% 0 0 50%;
}
header .menu .inner.two {
  width: 16px;
}
header .menu .inner.three {
  border-radius: 0 50% 50% 0;
}

/* Main nav  */
header .main-nav {
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  transition: var(--norm-transition);
  height: 100%;
}
@media (max-width: 767px) {
  header .main-nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: absolute;
    height: 100dvh;
    width: 100vw;
    top: 0;
    right: 100%;
    background-color: #262626;
    padding-top: 100px;
  }
  header nav:hover .main-nav {
    right: 0;
  }
}
header .main-nav > li {
  height: 72px;
}
@media (max-width: 767px) {
  header .main-nav > li:last-of-type {
    position: relative;
  }
}
header .main-nav > li > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 30px;
  color: black;
  transition: 0.3s;
  overflow: hidden;
  font-weight: 500;
  font-size: 20px;
}
@media (max-width: 767px) {
  header .main-nav > li > a {
    color: white;
    font-size: 18px;
  }
}
header .main-nav > li > a::before {
  content: "";
  height: 2px;
  width: 50%;
  background-color: var(--main-color);
  position: absolute;
  bottom: 0px;
  right: 100%;
  transition: calc(var(--norm-transition) - 0.1s) linear;
}
header .main-nav > li > a:hover {
  color: var(--main-color);
  border-radius: 3px;
}
header .main-nav > li > a:hover::before {
  right: 25%;
}
@media (max-width: 767px) {
  header .main-nav > li > a::before {
    display: none;
  }
  header .main-nav > li > a:hover {
    background-color: inherit;
  }
}

/* Other nav */
header .other-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 3px var(--main-color) solid;
  position: absolute;
  top: 100%;
  left: 0;
  height: 360px;
  width: 100%;
  opacity: 0;
  padding-left: 30px;
  padding-right: 30px;
  transform: translateY(50px);
  transition: var(--norm-transition);
  z-index: -1;
}
@media (max-width: 767px) {
  header .other-part {
    bottom: 0;
    left: -40px;
    width: 100vw;
    height: fit-content;
    background-color: transparent;
    border: none;
    align-items: start;
    border: 0;
    transform: translate(0);
  }
}
header .main-nav > li:last-of-type:hover .other-part {
  transform: translatey(0);
  opacity: 1;
  z-index: 1;
}
@media (max-width: 767px) {
  header .main-nav > li:last-of-type:hover .other-part {
    left: 0;
  }
}
header .other-part img {
  width: 475px;
  margin-right: 30px;
}
@media (max-width: 1199px) {
  header .other-part img {
    width: 400px;
  }
}
@media (max-width: 991px) {
  header .other-part img {
    display: none;
  }
}
header .other-nav {
  display: grid;
  grid-template-columns: repeat(2, minmax(max-content, 1fr));
  column-gap: 40px;
  flex-grow: 1;
}
@media (max-width: 767px) {
  header .other-nav {
    grid-template-columns: 40% 50%;
    gap: 0;
    margin-left: 20px;
  }
}
header .other-nav li {
  border-bottom: var(--background-color) 1px solid;
  padding: 15px 20px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  header .other-nav li {
    border: none;
    padding: 5px;
    margin-top: 10px;
    margin-left: 20px;
  }
}
header .other-nav li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  background-color: #fafafa;
  transition: var(--norm-transition);
}
@media (max-width: 767px) {
  header .other-nav li::before {
    display: none;
  }
}
header .other-nav li:hover:before {
  left: 0;
}
header .other-nav a {
  color: var(--main-color);
  font-weight: bold;
  position: relative;
}
@media (max-width: 767px) {
  header .other-nav a {
    color: white;
    font-weight: 400;
    font-size: 15px;
  }
}
header .other-nav i {
  margin-right: 10px;
  position: relative;
}
@media (max-width: 767px) {
  header .other-nav i {
    display: none;
  }
}
header .ch-lang {
  display: none;
}
@media (max-width: 767px) {
  header .ch-lang {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 6%;
    width: 88%;
    height: 40px;
    border: white solid 1px;
    color: white;
    font-size: 16px;
  }
  header svg {
    margin: 0 10px;
    color: var(--main-color);
    height: 22px;
    aspect-ratio: 1/1;
  }
  header nav:hover .main-nav .ch-lang::before {
    font-family: "Font Awesome 6 Free";
    content: "\f078";
    font-weight: 600;
    color: white;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 15px;
    font-size: 10px;
  }
}

/*
------------------
Landing Section
------------------
*/
.landing {
  height: calc(100dvh - 72px);
  position: relative;
  overflow: hidden;
  z-index: -1;
}
.landing::before {
  content: "";
  background-color: var(--background-color);
  width: 100%;
  height: 95%;
  transform: skewY(-6deg);
  transform-origin: top left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 72px);
}
@media (max-width: 991px) {
  .landing .container {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .landing .text {
    width: 100%;
  }
}
.landing h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .landing h1 {
    font-size: 30px;
  }
}
.landing p {
  font-size: 23px;
  line-height: 1.7;
  color: var(--sec-color);
}
@media (max-width: 767px) {
  .landing p {
    font-size: 18px;
  }
}
.landing img {
  width: 600px;
  animation: fly 2.5s linear infinite alternate;
}
@media (max-width: 991px) {
  .landing img {
    display: none;
  }
}
.landing i {
  margin: 20px auto 0;
  display: block;
  width: fit-content;
  color: var(--main-color);
  font-size: 30px;
  animation: up-down 1.5s infinite;
}

/*
------------------
Articles Section
------------------
*/
.articles {
  padding: var(--sec-padding) 0;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}
.articles .card {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 15px rgb(0 0 0 /0.1);
  transition: box-shadow var(--norm-transition),
    transform var(--norm-transition);
}
.articles .card:hover {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-10px);
}
.articles img {
  width: 100%;
}
.articles .text {
  margin: 15px 0 20px 20px;
}
.articles h3 {
  margin: 0;
}
.articles p {
  margin: 10px 10px 0 0;
  line-height: 1.5;
  color: var(--sec-color);
}
.articles a {
  color: var(--main-color);
  font-weight: bold;
  width: 100%;
  border-top: solid var(--background-color) 1px;
  display: block;
  padding: 20px;
  position: relative;
}
.articles a::after {
  content: "\f061";
  font-family: "Font Awesome 6 Free";
  color: var(--main-color);
  font-weight: 600;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);
}
.articles .card:hover a:after {
  animation: moving-arrow 0.6s linear infinite;
}

/*
------------------
Gallery
------------------
*/
.gallery {
  padding: var(--sec-padding) 0;
  background-color: var(--background-color);
  position: relative;
}
.gallery::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
.gallery .card {
  background-color: white;
  padding: 15px;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 /13%), 0 2px 4px 0 rgb(0 0 0 /12%);
}
.gallery .image {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.gallery img {
  width: 100%;
  height: 100%;
  transition: var(--norm-transition);
}
.gallery .image:hover img {
  transform: rotate(5deg) scale(1.1, 1.1);
}
.gallery .image::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  width: 10px;
  height: 10px;
  opacity: 0;
  z-index: 1;
}
.gallery .image:hover::before {
  animation: flashing 0.7s;
}

/*
------------------
Featuers
------------------
*/
.features {
  padding: var(--sec-padding) 0;
}
.features .card {
  text-align: center;
  border: 1px #ccc solid;
  overflow: hidden;
}
.features .img-holder {
  position: relative;
  overflow: hidden;
}
.features .img-holder:before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.features .card:first-child .img-holder:before {
  background-color: rgb(244 64 54 / 60%);
}
.features .card:nth-child(2) .img-holder:before {
  background-color: rgb(0 150 136 / 60%);
}
.features .card:last-child .img-holder:before {
  background-color: rgb(3 169 244 / 60%);
}
.features .img-holder:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 00px 0px 170px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--norm-transition);
  z-index: 2;
}
.features .card:hover .img-holder::after {
  border-width: 00px 500px 170px 0px;
}
.features img {
  width: 100%;
  height: 100%;
}
.features .card h2 {
  font-size: 40px;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  padding-bottom: 15px;
}
.features .card h2:after {
  content: "";
  width: 70%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 15%;
}
.features .card:first-child h2:after {
  background-color: #f44036;
}
.features .card:nth-child(2) h2:after {
  background-color: #009688;
}
.features .card:last-child h2:after {
  background-color: #03a9f4;
}
.features p {
  padding: 25px;
  margin: 20px auto;
  line-height: 2;
  font-size: 20px;
  color: var(--sec-color);
}
.features a {
  font-size: 22px;
  font-weight: bold;
  padding: 10px 25px;
  display: block;
  width: fit-content;
  margin: 0 auto 30px;
  border-radius: 6px;
  border: solid 3px;
  transition: var(--norm-transition);
  position: relative;
  overflow: hidden;
}
.features .card:first-of-type a {
  color: #f44036;
  border-color: #f44036;
}
.features .card:nth-of-type(2) a {
  color: #009688;
  border-color: #009688;
}
.features .card:last-of-type a {
  color: #03a9f4;
  border-color: #03a9f4;
}
.features .card:hover a {
  color: white;
}
.features a::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 100%;
  width: 100%;
  height: 100%;
  transition: var(--norm-transition);
  z-index: -1;
}
.features .card:hover a::after {
  right: 0;
}
.features .card:first-of-type a::after {
  background-color: #f44036;
}
.features .card:nth-of-type(2) a::after {
  background-color: #009688;
}
.features .card:last-of-type a::after {
  background-color: #03a9f4;
}

/*
------------------
Testimoials
------------------
*/
.testimonials {
  padding: var(--sec-padding) 0;
  background-color: var(--background-color);
}
.testimonials .card {
  background-color: white;
  position: relative;
  padding: 20px;
  box-shadow: 0 2px 4px rgb (0 0 0 / 7%);
}
.testimonials img {
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  right: -10px;
  border: var(--background-color) solid 10px;
}
.testimonials h3 {
  margin: 0 0 10px;
}
.testimonials span {
  color: var(--sec-color);
  margin-bottom: 10px;
  display: block;
}
.testimonials .filled {
  color: #ffc107;
}
.testimonials p {
  line-height: 1.5;
  color: var(--sec-color);
  margin-top: 10px;
}
/*
------------------
Team members
------------------
*/
.team-members {
  padding: var(--sec-padding) 0 calc(var(--sec-padding) * 2);
}
.team-members .container {
  row-gap: 120px;
}
.team-members .card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 20%;
}
.team-members .card::before,
.team-members .card::after {
  content: "";
  position: absolute;
  top: -15%;
  right: 0;
  height: 115%;
  border-radius: 10px;
}
.team-members .card::before {
  background-color: #f3f3f3;
  z-index: -2;
  width: 80%;
}
.team-members .card::after {
  background-color: #e4e4e4;
  z-index: -1;
  width: 0;
  transition: width var(--norm-transition);
}
.team-members .card:hover::after {
  width: 80%;
}
.team-members img {
  width: 85%;
  border-radius: 10px;
  transition: var(--norm-transition);
}
.team-members .card:hover img {
  filter: grayscale(100%);
}
.team-members .icons {
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-members a {
  padding: 15px;
}
.team-members i {
  color: var(--sec-color);
}
.team-members a:hover i {
  color: var(--main-color);
}
.team-members .card h3 {
  width: 100%;
  z-index: 1;
  padding: 20px 20px 10px;
  margin-left: 20%;
  color: var(--main-color);
  font-size: 22px;
  transition: var(--norm-transition);
}
.team-members .card:hover h3 {
  color: var(--sec-color);
}
.team-members p {
  width: 100%;
  padding: 0 20px 20px;
  margin-left: 20%;
}
/*
------------------
Services
------------------
*/
.services {
  padding: var(--sec-padding) 0;
  background-color: var(--background-color);
  position: relative;
}
.services::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
.services .card {
  position: relative;
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px rgb(0 0 0 / 12%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: var(--norm-transition);
  counter-increment: services;
}
.services .card:hover {
  transform: translateY(-10px);
}
.services .card::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 50%;
  width: 0;
  height: 3px;
  background-color: var(--main-color);
  transition: var(--norm-transition);
}
.services .card:hover::before {
  width: 100%;
  left: 0;
}
.services .card i {
  color: #d5d5d5;
  margin: 30px 0 20px;
}
.services .card h3 {
  font-size: 25px;
  color: var(--main-color);
  margin-bottom: 40px;
}
.services .card .bar {
  width: 100%;
  text-align: right;
  padding: 15px 20px;
  position: relative;
  background-color: #f9f9f9;
}
.services .bar::before {
  content: "0" counter(services);
  font-weight: bold;
  font-size: 30px;
  color: white;
  padding: 0 50px 0 20px;
  width: fit-content;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 80px;
  height: calc(100% + 0.2px);
  width: 50px;
  transform: skewX(-30deg);
  background-color: #d5d5d5;
}
.services .bar a {
  width: fit-content;
  color: var(--main-color);
  font-weight: 600;
}
/*
------------------
Our Skills
------------------
*/
.skills {
  padding: var(--sec-padding) 0 var(--sec-padding);
}
.skills .container {
  display: flex;
}
.skills img {
  width: 500px;
}
@media (max-width: 991px) {
  .skills img {
    display: none;
  }
}
.skills .bars {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.skills .bar h3 {
  display: block;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}
.skills .bar span {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  font-size: 12px;
  color: var(--main-color);
  border-radius: 4px;
  border: 1px #ccc solid;
  padding: 3px 5px;
}
.skills .bar .empty {
  height: 30px;
  width: 100%;
  background-color: #eee;
  margin: 20px 0;
}
.skills .bar .filled {
  height: 100%;
  background-color: var(--main-color);
}
/*
------------------
How It Works
------------------
*/
.how-it-works {
  padding: var(--sec-padding) 0;
  background-color: var(--background-color);
  position: relative;
}
.how-it-works .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .how-it-works .container {
    flex-direction: column;
  }
}
.how-it-works .container > img {
  max-width: 100%;
  margin-right: 80px;
}
@media (max-width: 1200px) {
  .how-it-works .container > img {
    margin: 0 0 80px;
  }
}
.how-it-works .steps {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.how-it-works .step {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 30px;
  background-color: #f6f5f5;
  border-radius: 6px;
  border: 2px solid white;
  z-index: 1;
  position: relative;
}
@media (max-width: 767px) {
  .how-it-works .step {
    padding: 20px;
  }
}
.how-it-works .step img {
  width: 64px;
  margin-right: 30px;
}
@media (max-width: 767px) {
  .how-it-works .step img {
    width: 40px;
  }
}
.how-it-works .text h3 {
  font-size: 22px;
  margin: 0;
}
@media (max-width: 767px) {
  .how-it-works .step h3 {
    font-size: 18px;
  }
}
.how-it-works .text p {
  color: var(--sec-color);
  line-height: 1.7;
  margin: 10px 0 0;
  font-size: 18px;
}
@media (max-width: 767px) {
  .how-it-works .step p {
    font-size: 15px;
    line-height: 1.5;
  }
}
.how-it-works .step::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 6px;
  transform: translate(-50%, -50%);
  background-color: var(--background-color);
  z-index: -1;
  transition: var(--norm-transition);
}
.how-it-works .step:hover::before {
  width: 100%;
  height: 100%;
}
/*
------------------
Events
------------------
*/
.events {
  padding: var(--sec-padding) 0 var(--sec-padding);
}
.events .container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}
.events img {
  max-width: 450px;
  margin-right: 30px;
}
@media (max-width: 991px) {
  .events img {
    display: none;
  }
}
.events .main-part {
  flex: 1;
}
.events .main-part .counters {
  display: flex;
  margin: 20px auto;
  width: fit-content;
  gap: 10px;
}
.events .main-part .counter {
  border: 1px solid #d4d4d4;
  border-radius: 6px;
  width: 75px;
  transition: var(--norm-transition);
}
.events .main-part .counter span {
  display: block;
}
.events .main-part .counter span:first-child {
  font-size: 35px;
  padding: 15px;
  color: var(--main-color);
  font-weight: 600;
}
.events .main-part .counter span:last-child {
  padding: 8px 10px;
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
  transition: var(--norm-transition);
}
.events .main-part .counter:hover,
.events .main-part .counter:hover span {
  border-color: var(--main-color);
}
.events .main-part h3 {
  margin: 40px 0 0;
  font-size: 30px;
}

.events .main-part p {
  line-height: 1.7;
  font-size: 19px;
  color: var(--sec-color);
  margin-top: 20px;
}
.events .subscribe {
  width: 100%;
  margin-top: 50px;
}
.events .subscribe form {
  width: 600px;
  padding: 30px 40px;
  background-color: #f6f5f5;
  border-radius: 50px;
  display: flex;
  gap: 20px;
  margin: auto;
}
@media (max-width: 767px) {
  .events .subscribe form {
    max-width: 100%;
    padding: 20px;
    flex-direction: column;
    border-radius: 5px;
  }
}
.events .subscribe form input[type="email"] {
  padding: 20px;
  flex: 1;
  border-radius: 50px;
  border: none;
  caret-color: var(--main-color);
}
.events .subscribe form input[type="email"]:focus {
  outline: none;
}
.events .subscribe form input[type="email"]::placeholder {
  transition: opacity var(--norm-transition);
}
.events .subscribe form input[type="email"]:focus::placeholder {
  opacity: 0;
}
.events .subscribe form input[type="submit"] {
  border-radius: 50px;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  transition: var(--norm-transition);
}
@media (max-width: 767px) {
  .events .subscribe form input[type="email"],
  .events .subscribe form input[type="submit"] {
    border-radius: 5px;
  }
}
.events .subscribe form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
