/* Global */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Repititive Components*/

/* Header Section */
header {
  box-shadow: 0 0 10px #ddd;
  position: relative;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 72px;
}
header img {
  width: 80px;
}
header .main-nav {
  display: flex;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  height: 100%;
}
header .ch-lang {
  display: none;
}
@media (max-width: 767px) {
  header .main-nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    position: absolute;
    height: 100dvh;
    width: 100vw;
    top: 0;
    right: 0;
    right: 100%;
    background-color: #262626;
    padding-top: 100px;
  }
  header .menu:hover + .main-nav {
    right: 0;
  }
  header .ch-lang {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 6%;
    width: 88%;
    height: 40px;
    border: white solid 1px;
    color: white;
    font-size: 16px;
  }
  header svg {
    margin: 0 10px;
    color: var(--main-color);
    height: 22px;
    aspect-ratio: 1/1;
  }
  header .menu:hover + .main-nav .ch-lang::before {
    font-family: "Font Awesome 6 Free";
    content: "\f078";
    font-weight: 600;
    color: white;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 15px;
    font-size: 10px;
  }
}
header .main-nav > li {
  height: 72px;
}
header .main-nav > li > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 30px;
  color: black;
  transition: 0.3s;
  overflow: hidden;
  font-weight: 500;
}
@media (max-width: 767px) {
  header .main-nav > li > a {
    color: white;
  }
}
header .main-nav > li > a::before {
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
  position: absolute;
  top: 0;
  right: 100%;
  transition: 0.3s;
}
header .main-nav > li > a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
header .main-nav > li > a:hover::before {
  right: 0;
}
@media (max-width: 767px) {
  header .main-nav > li > a::before {
    display: none;
  }
  header .main-nav > li > a:hover {
    background-color: inherit;
  }
}
header .other-nav {
  display: none;
}

/* Menu icon  */
header .menu {
  display: none;
  z-index: 1;
}
@media (max-width: 767px) {
  header .menu {
    display: block;
  }
}
header .menu {
  position: relative;
  width: 26px;
  height: 17px;
  overflow: hidden;
}
header .menu .outer {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 3px;
  transition: 0.5s;
  margin: 0 2px;
}
header .menu:hover .outer.mid {
  left: 100%;
}
header .menu:hover .outer:first-child {
  transform: translateY(7px) rotate(-45deg);
}
header .menu:hover .outer:last-child {
  transform: translateY(-7px) rotate(45deg);
}
header .menu .outer:nth-child(2) {
  top: 7px;
}
header .menu .outer:last-child {
  top: 14px;
}
header .menu .inner {
  display: block;
  background-color: #262626;
  width: 3px;
  height: 100%;
}
header .menu:hover .inner {
  background-color: var(--main-color);
}
header .menu .inner.one {
  border-radius: 50% 0 0 50%;
}
header .menu .inner.two {
  width: 16px;
}
header .menu .inner.three {
  border-radius: 0 50% 50% 0;
}

/* Start landing  */
.landing {
  height: calc(100dvh - 72px);
  position: relative;
  overflow: hidden;
  z-index: -1;
}
.landing::before {
  content: "";
  background-color: #ececec;
  width: 100%;
  height: 95%;
  transform: skewY(-6deg);
  transform-origin: top left;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.landing .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 72px);
}
@media (max-width: 991px) {
  .landing .container {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .landing .text {
    width: 100%;
  }
}
.landing h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .landing h1 {
    font-size: 30px;
  }
}
.landing p {
  font-size: 23px;
  line-height: 1.7;
  color: rgb(102, 102, 102);
}
@media (max-width: 767px) {
  .landing p {
    font-size: 18px;
  }
}
.landing img {
  width: 600px;
  animation: fly 2.5s linear infinite alternate;
}
@media (max-width: 991px) {
  .landing img {
    display: none;
  }
}
.landing i {
  margin: 20px auto 0;
  display: block;
  width: fit-content;
  color: var(--main-color);
  font-size: 30px;
  animation: up-down 1.5s infinite;
}
@keyframes fly {
  0% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(25px);
  }
}
@keyframes up-down {
  0%,
  10%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40%,
  60% {
    transform: translateY(-15px);
  }
}
